boiler-tech/assets/Homer_Full_Version_HTML_JS/analytics.html



<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-graph1 fa-4x"></i>

                    <h1 class="m-xs">$1 206,90</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                            All Income
                        </h3>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200">
                    <div class="stats-title pull-left">
                        <h4>Users Activity</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-share fa-4x"></i>
                    </div>
                    <div class="m-t-xl">
                        <h3 class="m-b-xs">4 210,160</h3>
                        <span class="font-bold no-margins">
                        Social users
                    </span>
                        <div class="progress m-t-xs full progress-small">
                            <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">
                                <span class="sr-only">35% Complete (success)</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stats-label">Pages / Visit</small>
                                <h4>7.80</h4>
                            </div>

                            <div class="col-xs-6">
                                <small class="stats-label">% New Visits</small>
                                <h4>76.43%</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200">
                    <div class="stats-title pull-left">
                        <h4>Page Views</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-monitor fa-4x"></i>
                    </div>
                    <div class="m-t-xl">
                        <h1 class="text-success">860k+</h1>
                        <span class="font-bold no-margins">
                        Social users
                    </span>
                        <br/>
                        <small>
                                Lorem Ipsum is simply dummy text of the printing and <strong>typesetting industry</strong>. Lorem Ipsum has been.
                            </small>
                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200">
                    <div class="stats-title pull-left">
                        <h4>Today income</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-cash fa-4x"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-income-chart"></div>
                    </div>
                    <div class="m-t-xs">

                        <div class="row">
                            <div class="col-xs-5">
                                <small class="stat-label">Today</small>
                                <h4>$230,00 </h4>
                            </div>
                            <div class="col-xs-7">
                                <small class="stat-label">Last week</small>
                                <h4>$7 980,60 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200">
                    <div class="stats-title pull-left">
                        <h4>Page Views</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-credit fa-4x"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-bar-chart"></div>
                    </div>
                    <div class="m-t-xs">

                        <div class="row">
                            <div class="col-xs-5">
                                <small class="stat-label">Today</small>
                                <h4>$230,00 </h4>
                            </div>
                            <div class="col-xs-7">
                                <small class="stat-label">Last week</small>
                                <h4>$7 980,60 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200 list">
                    <div class="stats-title pull-left">
                        <h4>Users Activity</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-science fa-4x"></i>
                    </div>
                    <div class="m-t-xl">
                        <span class="font-bold no-margins">
                                Social users
                            </span>
                        <br/>
                        <small>
                                Lorem Ipsum is simply dummy text of the printing simply all dummy text.
                            </small>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold text-success">300,102</h3>
                            <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-margins font-extra-bold text-success">280,200</h3>
                            <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-graph2 fa-4x"></i>
                    <h1 class="m-xs">$802,40</h1>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum consectetur adipiscing elit.</small>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200">
                    <div class="stats-title pull-left">
                        <h4>Today income</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-shuffle fa-4x"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-pie-chart" style="height: 112px"></div>
                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200">
                    <div class="stats-title pull-left">
                        <h4>Page Views</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-battery fa-4x"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="m-t-xs">

                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stat-label">Today</small>
                                <h4>$170,20 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                            <div class="col-xs-6">
                                <small class="stat-label">Last week</small>
                                <h4>$580,90 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stat-label">Today</small>
                                <h4>$620,20 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                            <div class="col-xs-6">
                                <small class="stat-label">Last week</small>
                                <h4>$140,70 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200">
                    <div class="stats-title pull-left">
                        <h4>Today income</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-gleam fa-4x"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart" style="height: 125px"></div>
                    </div>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200 list">
                    <div class="stats-title pull-left">
                        <h4>Users Activity</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-display1 fa-4x"></i>
                    </div>
                    <div class="m-t-xl">
                        <small>
                                Lorem Ipsum is simply dummy text of the printing..
                            </small>
                    </div>

                    <div class="progress m-t-xs full progress-small">
                        <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class=" progress-bar progress-bar-success">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress m-t-xs full progress-small">
                        <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class=" progress-bar progress-bar-success">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress m-t-xs full progress-small">
                        <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress m-t-xs full progress-small">
                        <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class=" progress-bar progress-bar-success">
                            <span class="sr-only">35% Complete (success)</span>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-global fa-4x"></i>
                    <h1 class="m-xs text-success">$1 208,20</h1>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum consectetur adipiscing elit.</small>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>


    </div>
</div>

boiler-tech/projects/assets/example-app/analytics.jade
extends ../../../layouts/example-app_layout

block scripts
  script(src='../vendor/jquery-flot/jquery.flot.js')
  script(src='../vendor/jquery-flot/jquery.flot.resize.js')
  script(src='../vendor/jquery-flot/jquery.flot.pie.js')
  script(src='../vendor/flot.curvedlines/curvedLines.js')
  script(src='../vendor/jquery.flot.spline/index.js')
  script(src='../vendor/peity/jquery.peity.min.js')
  script(src='../scripts/charts.js')
  script(src='../scripts/exampleapp/analytics.js')

block content
  .content.animate-panel
    .row
      .col-lg-3
        .hpanel
          .panel-body.text-center.h-200
            i.pe-7s-graph1.fa-4x
            h1.m-xs $1 206,90
            h3.font-extra-bold.no-margins.text-success
              | All Income
            small Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Users Activity
            .stats-icon.pull-right
              i.pe-7s-share.fa-4x
            .m-t-xl
              h3.m-b-xs 4 210,160
              span.font-bold.no-margins
                | Social users
              .progress.m-t-xs.full.progress-small
                .progress-bar.progress-bar-success(style='width: 55%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='55', role='progressbar')
                  span.sr-only 35% Complete (success)
              .row
                .col-xs-6
                  small.stats-label Pages / Visit
                  h4 7.80
                .col-xs-6
                  small.stats-label % New Visits
                  h4 76.43%
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Page Views
            .stats-icon.pull-right
              i.pe-7s-monitor.fa-4x
            .m-t-xl
              h1.text-success 860k+
              span.font-bold.no-margins
                | Social users
              br
              small
                | Lorem Ipsum is simply dummy text of the printing and 
                strong typesetting industry
                | . Lorem Ipsum has been.
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Today income
            .stats-icon.pull-right
              i.pe-7s-cash.fa-4x
            .clearfix
            .flot-chart
              #flot-income-chart.flot-chart-content
            .m-t-xs
              .row
                .col-xs-5
                  small.stat-label Today
                  h4 $230,00 
                .col-xs-7
                  small.stat-label Last week
                  h4
                    | $7 980,60 
                    i.fa.fa-level-up.text-success
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Page Views
            .stats-icon.pull-right
              i.pe-7s-credit.fa-4x
            .clearfix
            .flot-chart
              #flot-bar-chart.flot-chart-content
            .m-t-xs
              .row
                .col-xs-5
                  small.stat-label Today
                  h4 $230,00 
                .col-xs-7
                  small.stat-label Last week
                  h4
                    | $7 980,60 
                    i.fa.fa-level-up.text-success
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200.list
            .stats-title.pull-left
              h4 Users Activity
            .stats-icon.pull-right
              i.pe-7s-science.fa-4x
            .m-t-xl
              span.font-bold.no-margins
                | Social users
              br
              small
                | Lorem Ipsum is simply dummy text of the printing simply all dummy text.
            .row.m-t-sm
              .col-lg-6
                h3.no-margins.font-extra-bold.text-success 300,102
                .font-bold
                  | 98% 
                  i.fa.fa-level-up.text-success
              .col-lg-6
                h3.no-margins.font-extra-bold.text-success 280,200
                .font-bold
                  | 98% 
                  i.fa.fa-level-up.text-success
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel
          .panel-body.text-center.h-200
            i.pe-7s-graph2.fa-4x
            h1.m-xs $802,40
            small
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum consectetur adipiscing elit.
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Today income
            .stats-icon.pull-right
              i.pe-7s-shuffle.fa-4x
            .clearfix
            .flot-chart
              #flot-pie-chart.flot-chart-content(style='height: 112px')
          .panel-footer
            | This is standard panel footer
    .row
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Page Views
            .stats-icon.pull-right
              i.pe-7s-battery.fa-4x
            .clearfix
            .m-t-xs
              .row
                .col-xs-6
                  small.stat-label Today
                  h4
                    | $170,20 
                    i.fa.fa-level-up.text-success
                .col-xs-6
                  small.stat-label Last week
                  h4
                    | $580,90 
                    i.fa.fa-level-up.text-success
              .row
                .col-xs-6
                  small.stat-label Today
                  h4
                    | $620,20 
                    i.fa.fa-level-up.text-success
                .col-xs-6
                  small.stat-label Last week
                  h4
                    | $140,70 
                    i.fa.fa-level-up.text-success
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200
            .stats-title.pull-left
              h4 Today income
            .stats-icon.pull-right
              i.pe-7s-gleam.fa-4x
            .clearfix
            .flot-chart
              #flot-line-chart.flot-chart-content(style='height: 125px')
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel.stats
          .panel-body.h-200.list
            .stats-title.pull-left
              h4 Users Activity
            .stats-icon.pull-right
              i.pe-7s-display1.fa-4x
            .m-t-xl
              small
                | Lorem Ipsum is simply dummy text of the printing..
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 25%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='25', role='progressbar')
                span.sr-only 35% Complete (success)
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 35%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='35', role='progressbar')
                span.sr-only 35% Complete (success)
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 55%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='55', role='progressbar')
                span.sr-only 35% Complete (success)
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 95%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='95', role='progressbar')
                span.sr-only 35% Complete (success)
          .panel-footer
            | This is standard panel footer
      .col-lg-3
        .hpanel
          .panel-body.text-center.h-200
            i.pe-7s-global.fa-4x
            h1.m-xs.text-success $1 208,20
            small
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum consectetur adipiscing elit.
          .panel-footer
            | This is standard panel footer
