boiler-tech/projects/assets/example-app/calendar.jade
extends ../../../layouts/example-app_layout

block scripts
    script(src='../vendor/moment/min/moment.min.js')
    script(src='../vendor/fullcalendar/dist/fullcalendar.min.js')
    script(src='../scripts/exampleapp/calendar.js')

block styles
    link(rel='stylesheet', href='../vendor/fullcalendar/dist/fullcalendar.print.css', media='print')
    link(rel='stylesheet', href='../vendor/fullcalendar/dist/fullcalendar.min.css')

block content
    .normalheader.transition.animated.fadeIn
      .hpanel
        .panel-body
          a.small-header-action(href='')
            .clip-header
              i.fa.fa-arrow-up
          #hbreadcrumb.pull-right.m-t-lg
            ol.hbreadcrumb.breadcrumb
              li
                a(href='index.html') Dashboard
              li
                span App views
              li.active
                span Calendar
          h2.font-light.m-b-xs
            | Calendar
          small Full-sized, drag & drop event calendar.
    .content
      .row
        .col-lg-12
          .row
            .col-md-6
              .hpanel
                .panel-body
                  #external-events
                    h2 FullCalendar
                    |  is a jQuery plugin that provides a full-sized, drag & drop calendar like the one below. It uses AJAX to fetch events on-the-fly for each month and is easily configured to use your own feed format (an extension is provided
                    |                                 for Google Calendar).
                    p
                      a(href='http://arshaw.com/fullcalendar/', target='_blank') FullCalendar documentation
            .col-md-6
              .hpanel
                .panel-body
                  #external-events
                    strong Click, Drop or Resize event on calendar!
                    p
                      | Message from functions:
                      br
                      #external-events
                        p Drag a event and drop into callendar.
                        .external-event.h-bg-green.text-white Go to shop and buy some products.
                        .external-event.h-bg-green.text-white Check the new CI from Corporation.
                        p.m-t
                          input#drop-remove.i-checks(type='checkbox', checked='')
                          label(for='drop-remove') remove after drop
        .col-lg-12
          .hpanel
            .panel-heading
              .panel-tools
                a.showhide
                  i.fa.fa-chevron-up
                a.closebox
                  i.fa.fa-times
              |                     Calendar
            .panel-body
              #calendar

boiler-tech/assets/Homer_Full_Version_HTML_JS/calendar.html
<!-- Vendor styles -->
<link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css" />
<link rel="stylesheet" href="vendor/metisMenu/dist/metisMenu.css" />
<link rel="stylesheet" href="vendor/animate.css/animate.css" />
<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="vendor/fullcalendar/dist/fullcalendar.print.css" media='print' />
<link rel="stylesheet" href="vendor/fullcalendar/dist/fullcalendar.min.css" />

<!-- App styles -->
<link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
<link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css" />
<link rel="stylesheet" href="styles/style.css">

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>Calendar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                    Calendar
                </h2>
            <small>Full-sized, drag & drop event calendar.</small>
        </div>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div id="external-events">
                                <h2>FullCalendar</h2> is a jQuery plugin that provides a full-sized, drag & drop calendar like the one below. It uses AJAX to fetch events on-the-fly for each month and is easily configured to use your own feed format (an extension is provided
                                for Google Calendar).
                                <p>
                                    <a href="http://arshaw.com/fullcalendar/" target="_blank">FullCalendar documentation</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div id="external-events">
                                <strong>Click, Drop or Resize event on calendar!</strong>

                                <p>Message from functions:
                                    <br/>

                                    <div id='external-events'>
                                        <p>Drag a event and drop into callendar.</p>
                                        <div class='external-event h-bg-green text-white'>Go to shop and buy some products.</div>
                                        <div class='external-event h-bg-green text-white'>Check the new CI from Corporation.</div>
                                        <p class="m-t">
                                            <input type='checkbox' id='drop-remove' class="i-checks" checked />
                                            <label for='drop-remove'>remove after drop</label>
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Calendar
                </div>
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Vendor scripts -->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="vendor/iCheck/icheck.min.js"></script>
<script src="vendor/sparkline/index.js"></script>
<script src="vendor/moment/min/moment.min.js"></script>
<script src="vendor/fullcalendar/dist/fullcalendar.min.js"></script>

<!-- App scripts -->
<script src="scripts/homer.js"></script>
