boiler-tech/assets/Homer_Full_Version_HTML_JS/profile.html
<script src="vendor/peity/jquery.peity.min.js"></script>
<script src="scripts/charts.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>Profile </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Profile
            </h2>
            <small>Show user data in clear profile design</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

<div class="row">
    <div class="col-lg-4">
        <div class="hpanel hgreen">
            <div class="panel-body">
                <div class="pull-right text-right">
                    <div class="btn-group">
                        <i class="fa fa-facebook btn btn-default btn-xs"></i>
                        <i class="fa fa-twitter btn btn-default btn-xs"></i>
                        <i class="fa fa-linkedin btn btn-default btn-xs"></i>
                    </div>
                </div>
                <img alt="logo" class="img-circle m-b m-t-md" src="images/profile.jpg">
                <h3><a href="">Max Simson</a></h3>
                <div class="text-muted font-bold m-b-xs">California, LA</div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
                </p>
                <div class="progress m-t-xs full progress-small">
                    <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class=" progress-bar progress-bar-success">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="border-right border-left">
                <section id="map">
                    <div id="map1" style="height: 200px"></div>
                </section>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
            </div>
            <div class="panel-footer contact-footer">
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="contact-stat"><span>Projects: </span> <strong>200</strong></div>
                    </div>
                    <div class="col-md-4 border-right">
                        <div class="contact-stat"><span>Messages: </span> <strong>300</strong></div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-stat"><span>Views: </span> <strong>400</strong></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-8">
        <div class="hpanel">
            <div class="hpanel">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Project</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Messages</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                            existence in this spot, which was created for the bliss of souls like mine.</p>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>

                                    <th>#</th>
                                    <th>Project </th>
                                    <th>Name </th>
                                    <th>Phone </th>
                                    <th>Company </th>
                                    <th>Completed </th>
                                    <th>Task</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Project <small>This is example of project</small></td>
                                    <td>Patrick Smith</td>
                                    <td>0800 051213</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><span class="pie">2/45</span></td>
                                    <td>20%</td>
                                    <td>Jul 14, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>0500 780909</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><span class="pie">1/5</span></td>
                                    <td>40%</td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Betha project</td>
                                    <td>John Smith</td>
                                    <td>0800 1111</td>
                                    <td>Erat Volutpat</td>
                                    <td><span class="pie">4/7</span></td>
                                    <td>75%</td>
                                    <td>Jul 18, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>(016977) 0648</td>
                                    <td>Tellus Ltd</td>
                                    <td><span class="pie">12/3</span></td>
                                    <td>18%</td>
                                    <td>Jul 22, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>0500 780909</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><span class="pie">2/5</span></td>
                                    <td>40%</td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Project <small>This is example of project</small></td>
                                    <td>Patrick Smith</td>
                                    <td>0800 051213</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><span class="pie">1/5</span></td>
                                    <td>20%</td>
                                    <td>Jul 14, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>(016977) 0648</td>
                                    <td>Tellus Ltd</td>
                                    <td><span class="pie">2/8</span></td>
                                    <td>18%</td>
                                    <td>Jul 22, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Project <small>This is example of project</small></td>
                                    <td>Patrick Smith</td>
                                    <td>0800 051213</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><span class="pie">15/5</span></td>
                                    <td>20%</td>
                                    <td>Jul 14, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>0500 780909</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><span class="pie">2/3</span></td>
                                    <td>40%</td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Betha project</td>
                                    <td>John Smith</td>
                                    <td>0800 1111</td>
                                    <td>Erat Volutpat</td>
                                    <td><span class="pie">4/5</span></td>
                                    <td>75%</td>
                                    <td>Jul 18, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>(016977) 0648</td>
                                    <td>Tellus Ltd</td>
                                    <td><span class="pie">2/12</span></td>
                                    <td>18%</td>
                                    <td>Jul 22, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Alpha project</td>
                                    <td>Alice Jackson</td>
                                    <td>0500 780909</td>
                                    <td>Nec Euismod In Company</td>
                                    <td><span class="pie">2/3</span></td>
                                    <td>40%</td>
                                    <td>Jul 16, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Project <small>This is example of project</small></td>
                                    <td>Patrick Smith</td>
                                    <td>0800 051213</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td><span class="pie">1/5</span></td>
                                    <td>20%</td>
                                    <td>Jul 14, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Gamma project</td>
                                    <td>Anna Jordan</td>
                                    <td>(016977) 0648</td>
                                    <td>Tellus Ltd</td>
                                    <td><span class="pie">10/50</span></td>
                                    <td>18%</td>
                                    <td>Jul 22, 2013</td>
                                    <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body no-padding">


                        <div class="chat-discussion" style="height: auto">

                            <div class="chat-message">
                                <img class="message-avatar" src="images/a1.jpg" alt="" >
                                <div class="message">
                                    <a class="message-author" href="#"> Michael Smith </a>
                                    <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                            <span class="message-content">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            </span>

                                    <div class="m-t-md">
                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <img class="message-avatar" src="images/a4.jpg" alt="" >
                                <div class="message">
                                    <a class="message-author" href="#"> Karl Jordan </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                            </span>
                                    <div class="m-t-md">
                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <img class="message-avatar" src="images/a2.jpg" alt="" >
                                <div class="message">
                                    <a class="message-author" href="#"> Michael Smith </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                                </div>
                            </div>
                            <div class="chat-message">
                                <img class="message-avatar" src="images/a5.jpg" alt="" >
                                <div class="message">
                                    <a class="message-author" href="#"> Alice Jordan </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                                    <div class="m-t-md">
                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <img class="message-avatar" src="images/a6.jpg" alt="" >
                                <div class="message">
                                    <a class="message-author" href="#"> Mark Smith </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                                    <div class="m-t-md">
                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <img class="message-avatar" src="images/a4.jpg" alt="" >
                                <div class="message">
                                    <a class="message-author" href="#"> Karl Jordan </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                            </span>
                                    <div class="m-t-md">
                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <img class="message-avatar" src="images/a2.jpg" alt="" >
                                <div class="message">
                                    <a class="message-author" href="#"> Michael Smith </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                                </div>
                            </div>
                            <div class="chat-message">
                                <img class="message-avatar" src="images/a5.jpg" alt="" >
                                <div class="message">
                                    <a class="message-author" href="#"> Alice Jordan </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                                    <div class="m-t-md">
                                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>
</div>

</div>

boiler-tech/projects/assets/example-app/profile.jade
extends ../../../layouts/example-app_layout

block scripts
  script(src='/vendor/peity/jquery.peity.min.js')
  script(src='/exampleapp/scripts/charts.js')
  //
    You need to include this script on any page that has a Google Map.
    When using Google Maps on your own site you MUST signup for your own API key at:
    https://developers.google.com/maps/documentation/javascript/tutorial#api_key
    After your sign up replace the key in the URL below..
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70')
  script(scr='/exampleapp/scripts/profile.js')
  //
    I really think this code is good, but the maps don't work. I would try to change this apikey before changing the code.
  
block content
  .normalheader.transition.animated.fadeIn
    .hpanel
      .panel-body
        a.small-header-action(href='')
          .clip-header
            i.fa.fa-arrow-up
        #hbreadcrumb.pull-right.m-t-lg
          ol.hbreadcrumb.breadcrumb
            li
              a(href='/exampleapp/index') Dashboard
            li
              span App views
            li.active
              span Profile 
        h2.font-light.m-b-xs
          | Profile
        small Show user data in clear profile design
  .content.animate-panel
    .row
      .col-lg-4
        .hpanel.hgreen
          .panel-body
            .pull-right.text-right
              .btn-group
                i.fa.fa-facebook.btn.btn-default.btn-xs
                i.fa.fa-twitter.btn.btn-default.btn-xs
                i.fa.fa-linkedin.btn.btn-default.btn-xs
            img.img-circle.m-b.m-t-md(alt='logo', src='images/profile.jpg')
            h3
              a(href='') Max Simson
            .text-muted.font-bold.m-b-xs California, LA
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
            .progress.m-t-xs.full.progress-small
              .progress-bar.progress-bar-success(style='width: 65%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='65', role='progressbar')
                span.sr-only 35% Complete (success)
          .border-right.border-left
            section#map
              #map1(style='height: 200px')
          .panel-body
            dl
              dt Description lists
              dd A description list is perfect for defining terms.
              dt Euismod
              dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              dd Donec id elit non mi porta gravida at eget metus.
              dt Malesuada porta
              dd Etiam porta sem malesuada magna mollis euismod.
          .panel-footer.contact-footer
            .row
              .col-md-4.border-right
                .contact-stat
                  span Projects: 
                  strong 200
              .col-md-4.border-right
                .contact-stat
                  span Messages: 
                  strong 300
              .col-md-4
                .contact-stat
                  span Views: 
                  strong 400
      .col-lg-8
        .hpanel
          .hpanel
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#tab-1') Project
              li
                a(data-toggle='tab', href='#tab-2') Messages
            .tab-content
              #tab-1.tab-pane.active
                .panel-body
                  strong Lorem ipsum dolor sit amet, consectetuer adipiscing
                  p
                    | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                    | existence in this spot, which was created for the bliss of souls like mine.
                  .table-responsive
                    table.table.table-striped
                      thead
                        tr
                          th #
                          th Project 
                          th Name 
                          th Phone 
                          th Company 
                          th Completed 
                          th Task
                          th Date
                          th Action
                      tbody
                        tr
                          td 1
                          td
                            | Project 
                            small This is example of project
                          td Patrick Smith
                          td 0800 051213
                          td Inceptos Hymenaeos Ltd
                          td
                            span.pie 2/45
                          td 20%
                          td Jul 14, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 2
                          td Alpha project
                          td Alice Jackson
                          td 0500 780909
                          td Nec Euismod In Company
                          td
                            span.pie 1/5
                          td 40%
                          td Jul 16, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 3
                          td Betha project
                          td John Smith
                          td 0800 1111
                          td Erat Volutpat
                          td
                            span.pie 4/7
                          td 75%
                          td Jul 18, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 4
                          td Gamma project
                          td Anna Jordan
                          td (016977) 0648
                          td Tellus Ltd
                          td
                            span.pie 12/3
                          td 18%
                          td Jul 22, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 2
                          td Alpha project
                          td Alice Jackson
                          td 0500 780909
                          td Nec Euismod In Company
                          td
                            span.pie 2/5
                          td 40%
                          td Jul 16, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 1
                          td
                            | Project 
                            small This is example of project
                          td Patrick Smith
                          td 0800 051213
                          td Inceptos Hymenaeos Ltd
                          td
                            span.pie 1/5
                          td 20%
                          td Jul 14, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 4
                          td Gamma project
                          td Anna Jordan
                          td (016977) 0648
                          td Tellus Ltd
                          td
                            span.pie 2/8
                          td 18%
                          td Jul 22, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 1
                          td
                            | Project 
                            small This is example of project
                          td Patrick Smith
                          td 0800 051213
                          td Inceptos Hymenaeos Ltd
                          td
                            span.pie 15/5
                          td 20%
                          td Jul 14, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 2
                          td Alpha project
                          td Alice Jackson
                          td 0500 780909
                          td Nec Euismod In Company
                          td
                            span.pie 2/3
                          td 40%
                          td Jul 16, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 3
                          td Betha project
                          td John Smith
                          td 0800 1111
                          td Erat Volutpat
                          td
                            span.pie 4/5
                          td 75%
                          td Jul 18, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 4
                          td Gamma project
                          td Anna Jordan
                          td (016977) 0648
                          td Tellus Ltd
                          td
                            span.pie 2/12
                          td 18%
                          td Jul 22, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 2
                          td Alpha project
                          td Alice Jackson
                          td 0500 780909
                          td Nec Euismod In Company
                          td
                            span.pie 2/3
                          td 40%
                          td Jul 16, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 1
                          td
                            | Project 
                            small This is example of project
                          td Patrick Smith
                          td 0800 051213
                          td Inceptos Hymenaeos Ltd
                          td
                            span.pie 1/5
                          td 20%
                          td Jul 14, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
                        tr
                          td 4
                          td Gamma project
                          td Anna Jordan
                          td (016977) 0648
                          td Tellus Ltd
                          td
                            span.pie 10/50
                          td 18%
                          td Jul 22, 2013
                          td
                            a(href='#')
                              i.fa.fa-check.text-success
              #tab-2.tab-pane
                .panel-body.no-padding
                  .chat-discussion(style='height: auto')
                    .chat-message
                      img.message-avatar(src='images/a1.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date  Mon Jan 26 2015 - 18:39:23 
                        span.message-content
                          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-success
                            i.fa.fa-heart
                            |  Love
                    .chat-message
                      img.message-avatar(src='images/a4.jpg', alt='')
                      .message
                        a.message-author(href='#')  Karl Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-default
                            i.fa.fa-heart
                            |  Love
                          a.btn.btn-xs.btn-primary
                            i.fa.fa-pencil
                            |  Message
                    .chat-message
                      img.message-avatar(src='images/a2.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                    .chat-message
                      img.message-avatar(src='images/a5.jpg', alt='')
                      .message
                        a.message-author(href='#')  Alice Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                          | It uses a dictionary of over 200 Latin words.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-warning
                            i.fa.fa-eye
                            |  Nudge
                    .chat-message
                      img.message-avatar(src='images/a6.jpg', alt='')
                      .message
                        a.message-author(href='#')  Mark Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                          | It uses a dictionary of over 200 Latin words.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-success
                            i.fa.fa-heart
                            |  Love
                    .chat-message
                      img.message-avatar(src='images/a4.jpg', alt='')
                      .message
                        a.message-author(href='#')  Karl Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-default
                            i.fa.fa-heart
                            |  Love
                          a.btn.btn-xs.btn-primary
                            i.fa.fa-pencil
                            |  Message
                    .chat-message
                      img.message-avatar(src='images/a2.jpg', alt='')
                      .message
                        a.message-author(href='#')  Michael Smith 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                    .chat-message
                      img.message-avatar(src='images/a5.jpg', alt='')
                      .message
                        a.message-author(href='#')  Alice Jordan 
                        span.message-date   Fri Jan 25 2015 - 11:12:36 
                        span.message-content
                          | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                          | It uses a dictionary of over 200 Latin words.
                        .m-t-md
                          a.btn.btn-xs.btn-default
                            i.fa.fa-thumbs-up
                            |  Like
                          a.btn.btn-xs.btn-default
                            i.fa.fa-heart
                            |  Love
